:root {
    --violet-doux: #6C63FF;
    --violet-fonce: #534EDD;
    --orange-vif: #FFA726;
    --gris-fonce: #666;
    --gris-tres-claire: #F8F8F8;
    --girs-clair: #EEE;
}

h1 {
    color: var(--violet-doux)
}